@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
  position: relative;
}

.player.close {
  opacity: 0;
  visibility: hidden;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.volume-btn {
  width: 30px;
  height: 30px;
  position: relative;
  top: 8px;
}

#progress-volume {
  appearance: none;
  height: 10px;
  background-color: #000000;
  width: 150px;
  border-radius: 30px;
  cursor: pointer;
}

#progress-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3px;
  margin-left: 0px;
  height: 10px;
  width: 7px;
  border: 0;
  background-color: rgb(56, 134, 158);
  border-radius: 30px;
  cursor: pointer;
}

.player-update {
  position: relative;
}

#progress-bar {
  appearance: none;
  height: 10px;
  background: #000000;
  width: 300px;
  border-radius: 30px;
  cursor: pointer;
}

#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3px;
  margin-left: 0px;
  height: 10px;
  width: 7px;
  border: 0;
  background-color: rgb(56, 134, 158);
  border-radius: 30px;
  cursor: pointer;
}

.currentTime {
  position: relative;
  top: 0;
  left: -10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  align-items: center;
}

.durationTime {
  position: relative;
  top: -50px;
  right: -260px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 13px;
  align-items: center;
  color: #ffffff;
}

.play-list {
  text-align: left;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.play-list.close {
  opacity: 0;
  visibility: hidden;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 30px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.item-active {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}
.playbtn {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.weather.close {
  opacity: 0;
  visibility: hidden;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.time.close {
  opacity: 0;
  visibility: hidden;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.date.close {
  opacity: 0;
  visibility: hidden;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.greeting-container.close {
  opacity: 0;
  visibility: hidden;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.change-quote.close {
  opacity: 0;
  visibility: hidden;
}

.quotes {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.quotes.close {
  opacity: 0;
  visibility: hidden;
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.cogwheel {
  height: 50px;
  width: 50px;
  align-self: flex-end;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

.cogwheel:hover img {
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.options {
  position: absolute;
  width: 27%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid black;
  right: 100px;
  bottom: 90px;
  border-radius: 20%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}

.options.open {
  opacity: 1;
  visibility: visible;
}

.options.open .options-list {
  transform: translate(0px, 0px);
  opacity: 1;
}

.options-list {
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
  list-style: none;
}

.options-item {
  padding: 30px;
}

.ru {
  background-image: url("../assets/svg/ru.svg");
  background-repeat: no-repeat;
  border: none;
  width: 30px;
  height: 23px;
  margin-right: 20px;
  margin-left: 20px;
}

.ru:active {
  position: relative;
  top: 2px;
  right: 2px;
}
.en:active {
  position: relative;
  top: 3px;
  right: 2px;
}
.en {
  background-image: url("../assets/svg/us.svg");
  background-repeat: no-repeat;
  border: none;
  width: 30px;
  height: 23px;
}

.hide-item button {
  width: 60px;
  height: 30px;
}
.hide-item button:active {
  position: relative;
  top: 3px;
  right: 2px;
  background-color: rgb(104, 105, 104);
}

.links {
  height: 50px;
  width: 50px;
  align-self: flex-end;
  position: absolute;
  left: 0;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  margin-left: 30px;
}

.link {
  position: absolute;
  width: 27%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid black;
  left: 40px;
  bottom: 90px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}

.link.open {
  opacity: 1;
  visibility: visible;
}

.input-link {
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: 30px;
  right: 500px;
  z-index: 10;
}

.input-link.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.link.open .links-list {
  transform: translate(0px, 0px);
  opacity: 1;
}

.links-list {
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
  list-style: none;
}

.links-list a {
  text-decoration: none;
  color: #ffffff;
}

.links-list-item {
  padding: 20px;
  list-style: none;
}

.links:hover {
  color: rgb(56, 134, 158);
  transform: scale(1.5);
}

.new-link {
  position: absolute;
  top: 340px;
  right: 410px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
